[package]
authors = ["Selvakumar <selvakumar.h-s@laas.fr>"]
edition = "2021"
name = "unified_planning"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
async-trait = "0.1"
prost = { workspace = true }
regex = { workspace = true }
tonic = { workspace = true }
itertools = { workspace = true }

[build-dependencies]
tonic-build = { workspace = true, optional = true }

[features]
generate_bindings = ["tonic-build"]
