[submodule "ext/up/unified_planning"]
	path = planning/ext/up/unified_planning
url = https://github.com/aiplan4eu/unified-planning.git
[submodule "planning/ext/up/unified_planning"]
	branch = master
[submodule "planning/unified/deps/planning-test-cases"]
	path = planning/unified/deps/planning-test-cases
	url = https://github.com/aiplan4eu/planning-test-cases.git
[submodule "planning/unified/deps/unified-planning"]
	path = planning/unified/deps/unified-planning
	url = https://github.com/aiplan4eu/unified-planning.git
