[workspace]

members = [
  "core",
  "planning",
  "planners",
  "reasoners/stn",
  "reasoners/cp",
  "collections",
  "model",
  "solver",
  "env_param",
  "utils",
  "examples/sat",
  "examples/jobshop",
  "examples/smt",
  "examples/gg",
  "examples/knapsack",
  "grpc/api",
  "grpc/server",
]

[profile.dev]
opt-level = 0

[profile.release]
codegen-units = 8
debug = true # Debug symbols for benchmarking
lto = "thin"
opt-level = 3
panic = "abort"

# A profile meant for usage in CI, provide reasonable build/execution times. ALso enables debug assertions.
[profile.ci]
inherits = "dev"
opt-level = 3
