[workspace]

members = [
  "cp/core",
  "cp/reasoners/stn",
  "cp/reasoners/cp",
  "cp/collections",
  "cp/model",
  "cp/solver",
  "env_param",
  "cp/utils",
  "planning/planning",
  "planning/planners",
  "planning/grpc/api",
  "planning/grpc/server",
  "examples/sat",
  "examples/scheduling",
  "examples/smt",
  "examples/gg",
  "examples/knapsack",
]

[profile.dev]
opt-level = 0

[profile.release]
codegen-units = 8
debug = false # No debug symbols to keep executables small
lto = "thin"
opt-level = 3
panic = "abort"

# A profile meant for usage in CI, provide reasonable build/execution times. ALso enables debug assertions.
[profile.ci]
inherits = "dev"
opt-level = 3
