[workspace]

members = [
    "core", "planning", "planners", "collections", "model", "solver", "env_param", "utils",
    "reasoners/stn",
    "reasoners/cp",
    "examples/sat",
    "examples/jobshop",
    "examples/smt",
    "examples/gg",
    "examples/knapsack"
]

[profile.dev]
opt-level = 0               # Use slightly better optimizations.


[profile.release]
debug = true                # Debug symbols for benchmarking
opt-level = 3
lto = "thin"
codegen-units = 8
panic = "abort"

# A profile meant for usage in CI, provide reasonable build/execution times. ALso enables debug assertions.
[profile.ci]
inherits = "dev"
opt-level = 3