[package]
name = "aries_planners"
version = "0.1.0"
authors = ["Arthur Bit-Monnot <arthur.bit-monnot@laas.fr>"]
edition = "2021"

[dependencies]
structopt = "0.3"
anyhow = { workspace = true }
aries = { path = "../../solver" }
aries_planning = { path = "../planning" }
env_param = { path = "../../env_param" }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
itertools = { workspace = true }
num-rational = { workspace = true }

[features]
# reserved for very expensive checks
# for instance that could be checking that
# invariants of the solver are maintained at any time
full_check = []

# Will instruct the solver to count CPU cycles in various parts of the solver. (if CPU architecture allows)
cpu_cycles = ["aries/cpu_cycles"]


[[bin]]
name = "planning-domain"
path = "src/bin/planning_domain.rs"
